[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/CMSIS-Atmel"]
	path = lib/CMSIS-Atmel
	url = https://github.com/arduino/ArduinoModule-CMSIS-Atmel.git
[submodule "lib/SPIFlash"]
	path = lib/SPIFlash
	url = https://github.com/adafruit/Adafruit_SPIFlash.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/adafruit/SdFat.git
[submodule "lib/samd-core"]
	path = lib/samd-core
	url = https://github.com/adafruit/ArduinoCore-samd.git